@media only screen and (max-width: 600px) {
    body {
        display: grid;
    }
    .arrow_up{
        background-color: #90ff90;
        color: #c7ffc7;
    }
    .container1{
        width: 600px;
        height: 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #90ff90;
        padding-bottom: 75px;
    }
    .up1{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
    }
    .up1 a{
        padding: 10px 7px;
        display: flex;
        gap: 5%;
    }
    .logo{
        grid-column: 1/7;
    }
    .down{
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        right: 7%;
    }
    .down a:hover{
        border-radius: 10px;
        background-color: #36ff36;
    }
    .container2{
        width: 600px;
        background-color: #c7ffc7;
    }
    .cont2{
        display: grid;
    }
    .up2{
        display: grid;
    }
    input{
        position: relative;
        right: 10%;
    }
    .acc{
        position: relative;
        left: 50%;
    }
    .gridcont{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
    }
    .griditem{
        width: 210px;
        height: 200px;
    }
    .item1{
        width: 440px;
        height: 500px;
    }
    .item6, .item11, .item18, .item19{
        width: 440px;
        height: 240px;
    }
  }

/**********************************************************************************************/
/**********************************************************************************************/

  @media only screen and (min-width: 600px) and (max-width: 768px){
    body {
        display: flex;
    }
    .arrow_up{
        background-color: rgb(255, 148, 148);
        color: #ffcdcd;
        z-index: 1;
    }
    .container1{
        width: 20%;
        background-color: rgb(255, 148, 148);
        font-size: 13px;
    }
    .up1{
        margin: 0 10%;
        gap: 10px;
    }
    .logo{
        font-size: 20px;
    }
    .up1 a{
        padding: 10px 15px;
    }
    .down{
        margin: 0 10%;
        width: 25%;
        width: fit-content;
        display: grid;
        position: sticky;
        top: 0px;
        margin: 30px 0;
    }
    .container2{
        width: 80%;
        background-color: #ffcdcd;
    }
    .cont2{
        display: grid;
    }
    .up2{
        display: flex;
    }
    input{
        position: relative;
        right: 10%;
    }
    .acc{
        position: relative;
        left: 50%;
    }
    .gridcont{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
    }
    .griditem{
        width: 200px;
        height: 220px;
    }
    .item1{
        width: 400px;
        height: 420px;
    }
    .item6, .item11, .item18, .item19{
        width: 400px;
        height: 220px;
    }
  }

/**********************************************************************************************/
/**********************************************************************************************/

  @media only screen and (min-width: 769px) and (max-width: 1024px){
    body {
        display: flex;
    }
    .arrow_up{
        background-color: rgb(118, 255, 221);
        color: rgb(186, 255, 238);
    }
    .container1{
        width: 25%;
        background-color: rgb(118, 255, 221);
    }
    .container2{
        width: 75%;
        background-color: rgb(186, 255, 238);
    }
    .up2{
        display: flex;
    }
    input{
        position: relative;
        right: 10%;
    }
    .acc{
        position: relative;
        left: 50%;
    }
    .gridcont{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
    }
    .griditem{
        width: 180px;
        height: 200px;
    }
    .item1{
        width: 300px;
        height: 400px;
        position: relative;
        left: 40%;
        transform: translate(-50%);
        margin: 0 50px;
    }
    .item6, .item11, .item18, .item19{
        width: 380px;
        height: 200px;
        background-size: cover;
    }
    }

    /****************************************************************************************/
    /****************************************************************************************/

    @media only screen and (min-width: 1025px) and (max-width: 1200px){
        body {
            display: flex;
        }
        .arrow_up{
            background-color: rgb(194, 157, 255);
            color: rgb(225, 206, 255);
            }
        .container1{
            width: 20%;
            background-color: rgb(194, 157, 255);
        }
        .container2{
            width: 80%;
            background-color: rgb(225, 206, 255);
        }
        .up2{
            display: flex;
        }
        input{
            position: relative;
            right: 10%;
        }
        .acc{
            position: relative;
            left: 50%;
        }
        .gridcont{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 20px;
        }
        .griditem{
            width: 180px;
            height: 200px;
        }
        .item1{
            width: 280px;
            height: 400px;
        }
        .item2{
            width: 280px;
            height: 400px;
        }
        .item6, .item11, .item18, .item19{
            width: 300px;
            height: 170px;
            background-size: cover;
        }
        }
